<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489704030747-85v52hnqfnkcnbomjpfrhbnd31jmhitr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489704030747-85v52hnqfnkcnbomjpfrhbnd31jmhitr</string>
	<key>API_KEY</key>
	<string>AIzaSyDa_hCj73wSWMAEGjWiMBjY_D-xJeFr9-k</string>
	<key>GCM_SENDER_ID</key>
	<string>489704030747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.congtam.shopApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-course-1-6a50b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-course-1-6a50b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489704030747:ios:956b2dfebf9e711fdaaebe</string>
</dict>
</plist>